<div class = "about-topic about-topic1">
  <div class = "about-topic-textside">
    <div class = "about-topic-textside-title">
      ARTIFICIAL INTELLIGENCE
    </div>
    <div class = "about-topic-textside-text">
      We aim to create fully sentient and always changing AI serving and controlling all aspects of human lives by Q3.
    </div>
  </div>

  <div class = "about-topic-picside">
  </div>

</div>

<div class = "about-topic about-topic2">

  <div class = "about-topic-picside">
  </div>
  
  <div class = "about-topic-textside">
  <div class = "about-topic-textside-title">
      BIOCHEMISTRY
    </div>
    <div class = "about-topic-textside-text">
      We are committed to full chemical capabilities with purpose ranging from keeping our children safe to our enemies running.
    </div>
  </div>


</div>

<div class = "about-topic about-topic3">

  <div class = "about-topic-textside">
    <div class = "about-topic-textside-title">
      SPACE TRAVEL
    </div>
    <div class = "about-topic-textside-text">
      We have found significant rare earth rich bodies in space to drive technology forward. To this end, our mining division has researched novel asteroid pulling tools to bring them closer to Earth.
    </div>
  </div>
  <div class = "about-topic-picside"></div>
</div>

<div class = "about-topic about-topic4">


  <div class = "about-topic-picside"></div>
  
  <div class = "about-topic-textside">
    <div class = "about-topic-textside-title">
      NEUROSCIENCE
    </div>

    <div class = "about-topic-textside-text">
      Our recent advances in neuroscience will optimize your thoughts so you don't have to. Our machine learning algorithm will remotely find and remove redundant memories and thoughts around your house and workplace so you can be more productive.
    </div>
  </div>

</div>

<div class = "about-text">
  We do what we must because we can.
</div>
