<div class = "contacts">
  <div class = "contacts-offices">
    
    <div class = "contacts-offices-all contacts-office-1">
      <div class = "contacts-offices-all-title">
        North East Office
      </div>
      <div class = "contacts-offices-all-address">
        Massive Dynamic<br>
        1231 Dunham North St<br>
        52234 New York, NY, USA        
      </div>
      <div class = "contacts-offices-all-phone">
         <b>Call:</b> +1 567 555 4321<br>
         <b>Fax:</b> +1 567 555 4322<br>
      </div>
    </div>

    <div class = "contacts-offices-all contacts-office-2">
      <div class = "contacts-offices-all-title">
        South West Office
      </div>
      <div class = "contacts-offices-all-address">
        Massive Dynamic<br>
        5345 Walter Bishop St<br>
        63456 Berkley, CA, USA
      </div>
      <div class = "contacts-offices-all-phone">
        <b>Call:</b> +1 876 336 3366<br>
        <b>Fax:</b> +1 876 336 3367<br>
      </div>
    </div>
  </div>

  <div class="contacts-email">
    <form method="get" action="/email">
      <div class="contacts-email-title">
          To contact via email, please fill out the following:
      </div>
    
      
      <div class="contacts-email-top">
        <div class="contacts-email-top-left">
          <div class="contacts-email-top-all-text">
            Full name:
          </div>
          <input type="text" class="contacts-email-top-txtName" name="sender_name">          
        </div>

        <div class="contacts-email-top-middle">
          <div class="contacts-email-top-all-text">
            Your email:
          </div>
          <input type="text" class="contacts-email-top-txtEmail" name="return_email">
        </div>

        <div class="contacts-email-top-right">
          <input type="submit" value="Send" class="contacts-email-top-send" name="email_body">          
        </div>
      </div>

      <textarea class="contacts-email-textarea" placeholder="Please describe how we can help you"></textarea>

      <div class="contacts-email-result">
        <%= "#{@email_result.to_s}" %>
      </div>
    </form>
  </div>
</div>

