<div class="main-splash">
</div>


<div class="main-logo">
  <div class="main-logo-image"></div>
  <div class="main-logo-text">
    MASSIVE DYNAMIC
  </div>
</div>

<div class="main-quote">
  <div class="main-quote-line1">
    WHAT DO WE DO?
  </div>
  <div class="main-quote-line2">
    WHAT DON'T WE DO
  </div>
</div>

