<div class="main-splash">
  <canvas class="main-c">
    Browser doesn't support canvas graphics
  </canvas>
</div>


<div class="main-logo">
  <div class="main-logo-image"></div>
  <div class="main-logo-text">
    MASSIVE DYNAMIC
  </div>
</div>

<div class="main-quote">
  <div class="main-quote-line1">
    What do we do?
  </div>
  <div class="main-quote-line2">
    What don't we do
  </div>
</div>



<script type="text/javascript" src="javascript/index.js"></script>

