<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

<div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <!-- <a href="/profile">Profile*</a>  -->
            <a href="/login">Login</a>
    </div>

    <!-- alternative navbar below -->

  <!--   <header class="dark">
  <nav role="navigation">
    <a href="javascript:void(0);" class="ic menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </a>
    <a href="javascript:void(0);" class="ic close"></a>
    <ul class="main-nav">
      <li class="top-level-link">
        <a href="/"><span>Home</span></a>      
      </li> 
      
      <li class="top-level-link">
        <a href="/about"><span>About</span></a>      
      </li> 
      
      <li class="top-level-link">
        <a href="/contact"><span>Contact<span></a>    
      </li>
          
      <li class="top-level-link">
        <a href="/profile"><span>Profile*<span></a>    
      </li>
      
      <li class="top-level-link">
        <a href="/login"><span>Login</span></a>      
      </li>
    </ul> 
  </nav> -->

    <div class='main'>
        <%= yield %>
    </div>

</body>

