<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

    <header class="dark">
  <nav role="navigation">
    <a href="javascript:void(0);" class="ic menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </a>
    <a href="javascript:void(0);" class="ic close"></a>
    <ul class="main-nav">
      <li class="top-level-link">
        <a><span>Home</span></a>      
      </li> 
      
      <li class="top-level-link">
        <a><span>About</span></a>      
      </li> 
      
      <li class="top-level-link">
        <a><span>Contact<span></a>    
      </li>
          
      <li class="top-level-link">
        <a><span>Profile*<span></a>    
      </li>
      
      <li class="top-level-link">
        <a><span>Login</span></a>      
      </li>
    </ul> 
  </nav>

    <div class='main'>
        <%= yield %>
    </div>

</body>