<div class="main-login">
  
</div>

<h1>Employee Login</h1>
<form method="get" action="">
	<h3>Please enter your credentials:</h3>
	<div><input type="username" name="myusername" placeholder="username">jeremy</div>
    <div><input type="password" name="mypassword" placeholder="password">1234</div>
    <br>
    <div><input type="submit" value="Login" name=""></div>
</form>

