<div class="main-login">
  <div class="login">
    <h1>Employee Login</h1>
    <form method="get" action="">
      <div class="credentials">
        <h3>Please enter your credentials:</h3>
      </div>

      <div class="username">

        <input type="username" name="myusername" placeholder="username">
        jeremy
      </div>

      <div class="lastname">
        <input type="password" name="mypassword" placeholder="password">
        1234
      </div>

      <br>

      <div class="submit">
        <input type="submit" value="Login" name="">
      </div>

    </form>

  </div>

</div>
