<h1>Welcome Employee...</h1>

<h2>Weekly Schedule:</h2>
<div class="schedule">
	<div id="week">
            <a href="/about">Monday</a>
            <a href="/contact">Tuesday</a>
            <a href="/profile">Wednesday</a>
            <a href="/login">Thursday</a>
            <a href="/login">Friday</a>
    </div>
</div>

<h2>Today's Tasks:</h2>
<div class="tasks"></div>

<h2>Today's Tasks:</h2>
<div class="tasks"></div>