.login{
	// margin: 0 auto;
	padding: 1vh 40vw;
	font-family: MyFont;
	// background-color: lightgrey;
	color: white;
}

.main-login {
  height: 95vh;
  background-image: url('../img/dna.jpg');
  background-size: cover;
  background-position: center;
}

.login h1 {
	text-align: center;
}

.credentials h3 {
	text-align: center;
}

.username {
	text-align: center;
}
