
.schedule{
	width: 80vw;
	height: 15vh;
	border: 2px black;
	background-color: lightgrey;
	margin: 1vw;

}

#week {
    background-color: darkblue;
    overflow: hidden;

}

#week a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1vh 5vh;
    text-decoration: none;
    font-size: 2vh;
    font-family: MyFont;

 }

.tasks{
	width: 80vw;
	height: 10vh;
	border: 2px black;
	background-color: lightgrey;
	margin: 1vw;

}